*{  
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2% ;
}

/* Elemento de classe "logo" posicionamento */
.logo{    
    width: 60%;
}

/* Elemento de classe "logo" com tag "img" definido o tamanho da imagem */
.logo img{
    float: left;
    width: 150px;
}